.blog-post {
    display: none;

    font-size: 16px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    > h1:first-of-type {
        font-size: 40px;
        font-weight: 600;
        height: 70px;
        text-align: center;
        position: relative;
    }

    & li {
        margin-bottom: var(--padding);
    }
}
.blog-post:target {
    display: block;
}
body:has(.blog-post:target) {
    #blog-btn {
        .navbar-icon {
            font-variation-settings: "FILL" 1;

            &::before {
                opacity: var(--press-opacity);
            }
        }

        & + .page {
            display: block;
        }
    }
}
#blog:target ~ #blog-back-btn {
    display: none;
}
#blog-post-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--padding);
}
.blog-card {
    max-width: 40%;
}
