.blog-post {
    display: none;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;

    > h1:first-of-type {
        font-size: 40px;
        font-weight: 600;
        height: 70px;
        text-align: center;
        position: relative;
    }

    li {
        margin-bottom: var(--gap);
    }

    > h1 {
        margin-top: calc(var(--padding) * 4);
    }
    > h2 {
        margin-top: calc(var(--padding) * 3);
    }
    > h3 {
        margin-top: calc(var(--padding) * 2);
    }
}

#blog-footer {
    .divider {
        margin: calc(var(--padding) * 2) 0;
    }

    p {
        text-align: center;
    }
}

/*
    The blog footer is visible by default, we only hide it if the main blog
    page is visible.
*/
#blog:target ~ #blog-footer {
    display: none;
}

/*
    Blog navigation logic

    This uses the :target selector to make a blog post visible if it's selected.
    It also highlights the blog button in the navigation bar when a blog post
    is visible.
*/
.blog-post:target {
    display: block;
}
body:has(.blog-post:target) #blog-btn {
    .navbar-icon {
        font-variation-settings: "FILL" 1;

        &::before {
            opacity: var(--press-opacity);
        }
    }

    & + .page {
        display: block;
    }
}
