/*
    Embeds fonts directly into the webpage as base64. This significantly
    increases the total size of the webpage's file and prevents caching the
    font files - basically, it's a terrible idea. The SVG and embedded HTML
    builds of the site use this so they work offline without downloading remote
    resources. This is needed for the SVG to work in an <img> tag, because when
    it's in an <img> tag it's not allowed to download remote resources.
*/

@layer defaults {
    @font-face {
        font-family: "Material Symbols";
        font-style: normal;
        font-weight: 100 700;
        src: url("data:font/woff2;base64,#!INCLUDE_BASE64(../fonts/material-icons.trimmed.woff2)")
            format("woff2");
    }
    @font-face {
        font-family: "Roboto Flex";
        font-style: normal;
        font-weight: 100 800;
        font-stretch: 100%;
        font-display: swap;
        src: url("data:font/woff2;base64,#!INCLUDE_BASE64(../fonts/roboto-flex.woff2)")
            format("woff2");
    }
    @font-face {
        font-family: "Roboto Mono";
        font-style: normal;
        font-weight: 100 700;
        font-display: swap;
        src: url("data:font/woff2;base64,#!INCLUDE_BASE64(../fonts/roboto-mono.woff2)")
            format("woff2");
    }
}
