@layer defaults, widgets, overrides;

@layer defaults {
    !#INCLUDE(themes.css)
}

@layer widgets {
    !#INCLUDE(widgets/navigation.css) !#INCLUDE(widgets/other.css) !#INCLUDE(widgets/card.css)
}

@layer overrides {
    !#INCLUDE(home.css)
}

@layer defaults {
    .page {
        display: none;
        position: absolute;
        width: calc(100% - var(--navbar-width));
        height: calc(100% - var(--navbar-height));
        top: 0;
        left: var(--navbar-width);
        padding: var(--padding);
        overflow: auto;

        .title {
            font-size: 40px;
            font-weight: 600;
            height: 70px;
            text-align: center;
            position: relative;
        }

        b {
            font-weight: 600;
        }

        h1 {
            font-weight: 550;
        }

        .body-text {
            max-width: 680px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
        }
    }

    body {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;

        background-color: var(--background);
        color: var(--text);
        font-family: "Roboto Flex";
    }

    #themes {
        display: none;
    }

    * {
        box-sizing: border-box;
    }

    a {
        color: unset;
    }

    .material-symbols,
    .material-symbols-filled {
        font-family: "Material Symbols";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: "liga";
        -moz-osx-font-smoothing: grayscale;
        font-variation-settings:
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    }

    .material-symbols {
        font-variation-settings:
            'FILL' 0;
    }

    .material-symbols-filled {
        font-variation-settings:
            'FILL' 1;
    }
}
