/*
    Navigation Logic

    This uses the `:target` pseudo-class to find the active page, then
    highlights its icon in the navbar and makes its page contents visible.
*/

.navbar-item:target {
    .navbar-icon {
        font-variation-settings: "FILL" 1;

        &::before {
            opacity: var(--press-opacity);
        }
    }

    & + .page {
        display: block;
    }
}

/*
    The home page is highlighted by default. This works by making the home page
    active when no other navbar item is selected.
*/
body:not(:has(.navbar-item:target)) #home {
    .navbar-icon {
        font-variation-settings: "FILL" 1;

        &::before {
            opacity: var(--press-opacity);
        }
    }

    &::before {
        opacity: var(--press-opacity);
    }

    & + .page {
        display: block;
    }
}
