/*
    LAYOUTS

    Makes the page responsive, and stores spacing information.
    This is only used for the actual website, not the SVG version. It breaks in SVGs.

    Screen size classes:
    x<600         small (phone)
    600<=x<840    medium (tablet)
    x>=840        large (desktop)
    Taken from Material 3:
    https://m3.material.io/foundations/layout/applying-layout/window-size-classes#4ee6b7bb-864a-440c-9903-f738cc94fd58
*/

body {
    --padding: 12px;
    --gap: 5px;
}

@media (max-width: 599px) {
    body {
        --navbar-width: 0px;
        --navbar-height: 75px;
    }

    #navbar {
        position: absolute;
        width: 100%;
        height: var(--navbar-height);
        bottom: 0;
        flex-direction: row;
    }

    #settings {
        position: absolute;
        right: var(--padding);

        & > .navbar-icon {
            font-size: 32px;
            padding: 5px;

            &::before {
                border-radius: calc(var(--rounding) * 2);
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 839px) {
    body {
        --navbar-width: 75px;
        --navbar-height: 0px;
    }

    #navbar {
        width: var(--navbar-width);
        height: 100%;
        flex-direction: column;
    }

    #settings {
        position: absolute;
        bottom: var(--padding);

        & > .navbar-icon {
            font-size: 32px;
            padding: 6px;

            &::before {
                border-radius: calc(var(--rounding) * 2) !important;
            }
        }
    }
}
@media (min-width: 839px) {
    body {
        --navbar-width: 75px;
        --navbar-height: 0px;
    }

    #navbar {
        width: var(--navbar-width);
        height: 100%;
        flex-direction: column;
    }

    #settings {
        margin-top: auto;

        & > .navbar-icon {
            font-size: 32px;
            padding: 6px;

            &::before {
                border-radius: calc(var(--rounding) * 2) !important;
            }
        }
    }
}

/* Fonts - the site imports them, the SVG embeds them as base64 */
@layer defaults {
    @font-face {
        font-family: "Material Symbols";
        font-style: normal;
        font-weight: 100 700;
        src: url("data:font/woff2;base64,#!INCLUDE_BASE64(../fonts/material-icons.trimmed.woff2)")
            format("woff2");
    }
    @font-face {
        font-family: "Roboto Flex";
        font-style: normal;
        font-weight: 100 800;
        font-stretch: 100%;
        font-display: swap;
        src: url("data:font/woff2;base64,#!INCLUDE_BASE64(../fonts/roboto-flex.woff2)")
            format("woff2");
    }
    @font-face {
        font-family: "Roboto Mono";
        font-style: normal;
        font-weight: 100 700;
        font-display: swap;
        src: url("data:font/woff2;base64,#!INCLUDE_BASE64(../fonts/roboto-mono.woff2)")
            format("woff2");
    }
}
