/*
    THEMES

    The catppuccin themes and accent colours.
    The colours are from https://catppuccin.com/palette
*/

:root {
    --latte-base: #eff1f5;
    --latte-mantle: #e6e9ef;
    --latte-crust: #dce0e8;
    --latte-overlay-0: #9ca0b0;
    --latte-surface-0: #ccd0da;
    --latte-surface-1: #bcc0cc;
    --latte-text: #4c4f69;
    --latte-subtext-0: #6c6f85;
    --latte-subtext-1: #5c5f77;
    --latte-rosewater: #dc8a78;
    --latte-flamingo: #dd7878;
    --latte-pink: #ea76cb;
    --latte-mauve: #8839ef;
    --latte-red: #d20f39;
    --latte-maroon: #e64553;
    --latte-peach: #fe640b;
    --latte-yellow: #df8e1d;
    --latte-green: #40a02b;
    --latte-teal: #179299;
    --latte-sky: #04a5e5;
    --latte-sapphire: #209fb5;
    --latte-blue: #1e66f5;
    --latte-lavender: #7287fd;

    --frappe-base: #303446;
    --frappe-mantle: #292c3c;
    --frappe-crust: #232634;
    --frappe-overlay-0: #737994;
    --frappe-surface-0: #414559;
    --frappe-surface-1: #51576d;
    --frappe-text: #c6d0f5;
    --frappe-subtext-0: #a5adce;
    --frappe-subtext-1: #b5bfe2;
    --frappe-rosewater: #f2d5cf;
    --frappe-flamingo: #eebebe;
    --frappe-pink: #f4b8e4;
    --frappe-mauve: #ca9ee6;
    --frappe-red: #e78284;
    --frappe-maroon: #ea999c;
    --frappe-peach: #ef9f76;
    --frappe-yellow: #e5c890;
    --frappe-green: #a6d189;
    --frappe-teal: #81c8be;
    --frappe-sky: #99d1db;
    --frappe-sapphire: #85c1dc;
    --frappe-blue: #8caaee;
    --frappe-lavender: #babbf1;

    --macchiato-base: #24273a;
    --macchiato-mantle: #1e2030;
    --macchiato-crust: #181926;
    --macchiato-overlay-0: #6e738d;
    --macchiato-surface-0: #363a4f;
    --macchiato-surface-1: #494d64;
    --macchiato-text: #cad3f5;
    --macchiato-subtext-0: #a5adcb;
    --macchiato-subtext-1: #b8c0e0;
    --macchiato-rosewater: #f4dbd6;
    --macchiato-flamingo: #f0c6c6;
    --macchiato-pink: #f5bde6;
    --macchiato-mauve: #c6a0f6;
    --macchiato-red: #ed8796;
    --macchiato-maroon: #ee99a0;
    --macchiato-peach: #f5a97f;
    --macchiato-yellow: #eed49f;
    --macchiato-green: #a6da95;
    --macchiato-teal: #8bd5ca;
    --macchiato-sky: #91d7e3;
    --macchiato-sapphire: #7dc4e4;
    --macchiato-blue: #8aadf4;
    --macchiato-lavender: #b7bdf8;

    --mocha-base: #1e1e2e;
    --mocha-mantle: #181825;
    --mocha-crust: #11111b;
    --mocha-overlay-0: #6c7086;
    --mocha-surface-0: #313244;
    --mocha-surface-1: #45475a;
    --mocha-text: #cdd6f4;
    --mocha-subtext-0: #a6adc8;
    --mocha-subtext-1: #bac2de;
    --mocha-rosewater: #f5e0dc;
    --mocha-flamingo: #f2cdcd;
    --mocha-pink: #f5c2e7;
    --mocha-mauve: #cba6f7;
    --mocha-red: #f38ba8;
    --mocha-maroon: #eba0ac;
    --mocha-peach: #fab387;
    --mocha-yellow: #f9e2af;
    --mocha-green: #a6e3a1;
    --mocha-teal: #94e2d5;
    --mocha-sky: #89dceb;
    --mocha-sapphire: #74c7ec;
    --mocha-blue: #89b4fa;
    --mocha-lavender: #b4befe;
}

/* latte */
body:has(#catppuccin-latte:checked) {
    --base: var(--latte-base);
    --mantle: var(--latte-mantle);
    --crust: var(--latte-crust);
    --overlay-0: var(--latte-overlay-0);
    --surface-0: var(--latte-surface-0);
    --surface-1: var(--latte-surface-1);
    --text: var(--latte-text);
    --subtext-0: var(--latte-subtext-0);
    --subtext-1: var(--latte-subtext-1);
    --rosewater: var(--latte-rosewater);
    --flamingo: var(--latte-flamingo);
    --pink: var(--latte-pink);
    --mauve: var(--latte-mauve);
    --red: var(--latte-red);
    --maroon: var(--latte-maroon);
    --peach: var(--latte-peach);
    --yellow: var(--latte-yellow);
    --green: var(--latte-green);
    --teal: var(--latte-teal);
    --sky: var(--latte-sky);
    --sapphire: var(--latte-sapphire);
    --blue: var(--latte-blue);
    --lavender: var(--latte-lavender);
}
/* frappe */
body:has(#catppuccin-frappe:checked) {
    --base: var(--frappe-base);
    --mantle: var(--frappe-mantle);
    --crust: var(--frappe-crust);
    --overlay-0: var(--frappe-overlay-0);
    --surface-0: var(--frappe-surface-0);
    --surface-1: var(--frappe-surface-1);
    --text: var(--frappe-text);
    --subtext-0: var(--frappe-subtext-0);
    --subtext-1: var(--frappe-subtext-1);
    --rosewater: var(--frappe-rosewater);
    --flamingo: var(--frappe-flamingo);
    --pink: var(--frappe-pink);
    --mauve: var(--frappe-mauve);
    --red: var(--frappe-red);
    --maroon: var(--frappe-maroon);
    --peach: var(--frappe-peach);
    --yellow: var(--frappe-yellow);
    --green: var(--frappe-green);
    --teal: var(--frappe-teal);
    --sky: var(--frappe-sky);
    --sapphire: var(--frappe-sapphire);
    --blue: var(--frappe-blue);
    --lavender: var(--frappe-lavender);
}
/* macchiato */
body:has(#catppuccin-macchiato:checked) {
    --base: var(--macchiato-base);
    --mantle: var(--macchiato-mantle);
    --crust: var(--macchiato-crust);
    --overlay-0: var(--macchiato-overlay-0);
    --surface-0: var(--macchiato-surface-0);
    --surface-1: var(--macchiato-surface-1);
    --text: var(--macchiato-text);
    --subtext-0: var(--macchiato-subtext-0);
    --subtext-1: var(--macchiato-subtext-1);
    --rosewater: var(--macchiato-rosewater);
    --flamingo: var(--macchiato-flamingo);
    --pink: var(--macchiato-pink);
    --mauve: var(--macchiato-mauve);
    --red: var(--macchiato-red);
    --maroon: var(--macchiato-maroon);
    --peach: var(--macchiato-peach);
    --yellow: var(--macchiato-yellow);
    --green: var(--macchiato-green);
    --teal: var(--macchiato-teal);
    --sky: var(--macchiato-sky);
    --sapphire: var(--macchiato-sapphire);
    --blue: var(--macchiato-blue);
    --lavender: var(--macchiato-lavender);
}
/* mocha */
body:has(#catppuccin-mocha:checked) {
    --base: var(--mocha-base);
    --mantle: var(--mocha-mantle);
    --crust: var(--mocha-crust);
    --overlay-0: var(--mocha-overlay-0);
    --surface-0: var(--mocha-surface-0);
    --surface-1: var(--mocha-surface-1);
    --text: var(--mocha-text);
    --subtext-0: var(--mocha-subtext-0);
    --subtext-1: var(--mocha-subtext-1);
    --rosewater: var(--mocha-rosewater);
    --flamingo: var(--mocha-flamingo);
    --pink: var(--mocha-pink);
    --mauve: var(--mocha-mauve);
    --red: var(--mocha-red);
    --maroon: var(--mocha-maroon);
    --peach: var(--mocha-peach);
    --yellow: var(--mocha-yellow);
    --green: var(--mocha-green);
    --teal: var(--mocha-teal);
    --sky: var(--mocha-sky);
    --sapphire: var(--mocha-sapphire);
    --blue: var(--mocha-blue);
    --lavender: var(--mocha-lavender);
}

body:has(#accent-rosewater:checked) {
    --accent: var(--rosewater);
}
body:has(#accent-flamingo:checked) {
    --accent: var(--flamingo);
}
body:has(#accent-pink:checked) {
    --accent: var(--pink);
}
body:has(#accent-mauve:checked) {
    --accent: var(--mauve);
}
body:has(#accent-red:checked) {
    --accent: var(--red);
}
body:has(#accent-maroon:checked) {
    --accent: var(--maroon);
}
body:has(#accent-peach:checked) {
    --accent: var(--peach);
}
body:has(#accent-yellow:checked) {
    --accent: var(--yellow);
}
body:has(#accent-green:checked) {
    --accent: var(--green);
}
body:has(#accent-teal:checked) {
    --accent: var(--teal);
}
body:has(#accent-sky:checked) {
    --accent: var(--sky);
}
body:has(#accent-sapphire:checked) {
    --accent: var(--sapphire);
}
body:has(#accent-blue:checked) {
    --accent: var(--blue);
}
body:has(#accent-lavender:checked) {
    --accent: var(--lavender);
}

body {
    --rounding: 16px;
    --hover-opacity: 20%;
    --hover-animation-len: 0.4s;
    --press-opacity: 50%;
}
