/*
*/

.card-gallery {
	column-width: 300px;
	column-gap: var(--gap);

	> a {
		color: var(--theme-text);
	}
}

.card {
	border-radius: 16px;
	border-color: var(--theme-surface-1);
	border-style: solid;
	border-width: 1px;

	padding: var(--gap-large);
	margin-bottom: var(--gap);
	min-width: 100%;
	display: inline-block;
	text-decoration: none;

	h1,
	h2,
	h3,
	p {
		margin: 0;
	}

	h1 {
		margin-bottom: var(--gap-large);
		line-height: 1;
	}

	.button-outlined,
	.button-text {
		float: right;
		margin-top: var(--gap-large);
	}

	.button-text:hover {
		background-color: var(--theme-surface-1);
	}
	.button-outlined:hover {
		background-color: var(--theme-surface-1);
	}
}
