/*
*/

.card-gallery {
    column-width: 300px;
    column-gap: var(--gap);
}

.card {
    border-radius: 16px;
    background-color: var(--surface-0);
    border-color: var(--surface-2);
    border-style: solid;
    border-width: 1px;

    padding: var(--padding);
    margin-bottom: var(--gap);
    min-width: 100%;
    display: inline-block;

    h1,
    p {
        margin: 0;
    }

    h1 {
        margin-bottom: var(--padding);
        line-height: 1;
    }

    .button-outlined,
    .button-filled,
    .button-text {
        float: right;
        margin-top: var(--padding);
    }

    .button-filled {
        background-color: var(--surface-1);

        &:hover {
            background-color: var(--surface-2);
        }
    }
    .button-outlined:hover {
        background-color: var(--surface-1);
    }
}
