/*
    Navigation Bar

    This contains 4 kinds of elements:
    - The actual navigation bar, which just has a background colour
      and flexbox for aligning the items in it.
    - Navbar items, which store an icon and a label. This also uses
      a flexbox for aligning its contents.
    - The icons, which use Material Icons for their icons, and the
      `::before` psuedoclass for the hover/selected effect.
    - The labels, which are just text.

    Note that several properties (flex direction and sizing) are set
    in the layout files since that depends on the screen size.
*/
#navbar {
	background-color: var(--theme-surface-0);
	gap: var(--gap-medium);
	padding: 0 var(--gap);
	padding-top: var(--gap-large);
	padding-bottom: var(--gap);
	overflow-y: auto;
	overflow-x: hidden;
	width: var(--navbar-width, 100%);
	height: var(--navbar-height, 100%);

	display: flex;
	align-items: center;
	flex-direction: var(--navbar-dir);

	.navbar-item {
		width: 48px;
		height: 48px;
		text-decoration-line: none;
		outline: none;
		z-index: 1;

		display: flex;
		flex-direction: column;
		align-items: center;

		.navbar-label {
			font-size: 12px;
			margin: 0px;
			margin-top: 2px;
			text-align: center;
			color: var(--theme-text);
		}

		.navbar-icon {
			font-size: 24px;
			height: 28px;
			position: relative;
			padding: 2px 12px;
			transition-duration: var(--transition-duration);
			color: var(--theme-accent);

			&::before {
				content: "";
				border-style: solid;
				border-width: 0px;
				border-radius: var(--rounding);
				background-color: var(--theme-overlay-0);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				position: absolute;
				transition-duration: var(--transition-duration);
				z-index: -1;
			}
		}

		&:hover {
			cursor: pointer;

			.navbar-icon {
				font-weight: 600;

				&::before {
					opacity: var(--hover-opacity);
				}
			}
		}
	}
}

/*
    Navigation Logic

    This uses the `:target` pseudo-class to find the active page, then
    highlights its icon in the navbar and makes its page contents visible.

    In addition, if no page is active, we show the home page by default.
*/
.navbar-item:target,
body:not(:has(*:target)) #home {
	.navbar-icon {
		font-variation-settings: "FILL" 1;

		&::before {
			opacity: var(--press-opacity) !important;
		}
	}

	& + .page {
		display: block;
	}
}
