.divider {
    width: calc(100% - var(--gap));
    height: 1px;
    background-color: var(--text);
    margin: var(--gap) 0px;
    flex-shrink: 0;
}

.button-outlined {
    border-radius: 16px;
    border-color: var(--accent);
    border-style: solid;
    border-width: 1px;

    text-decoration: none;
    padding: calc(var(--padding) / 2) var(--padding);
    transition-duration: var(--hover-animation-len);
    display: inline-block;
    margin-left: var(--gap);
    color: var(--accent);

    &:hover {
        cursor: pointer;
        background-color: var(--surface-0);
    }
}
.button-text {
    border-radius: 16px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;

    text-decoration: none;
    padding: calc(var(--padding) / 2) var(--padding);
    transition-duration: var(--hover-animation-len);
    display: inline-block;
    margin-left: var(--gap);
    color: var(--accent);

    &:hover {
        background-color: var(--surface-0);
    }
}

table {
    width: calc(var(--content-width) - calc(var(--padding) * 4));
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    border-color: var(--overlay-0);
    border-spacing: 0;

    margin: var(--padding);

    thead th {
        background-color: var(--surface-0);

        &:first-of-type {
            border-top-left-radius: 15px;
        }
        &:last-of-type {
            border-top-right-radius: 16px;
        }
    }
    tbody tr {
        th {
            background-color: var(--surface-0);
            border-radius: 0px;
        }

        &:first-of-type th {
            border-top-left-radius: 15px;
        }
        &:last-of-type th {
            border-bottom-left-radius: 16px;
        }
    }

    th,
    td {
        padding: var(--gap);

        border-style: solid;
        border-width: 0px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: var(--overlay-0);
    }
    td:last-of-type {
        border-right-width: 0px;
    }

    tr:last-of-type td,
    tbody tr:last-of-type th {
        border-bottom-width: 0px;
    }
}
