#theme-selection label .card {
    position: relative;
    overflow: hidden;

    .demo-navbar {
        position: absolute;
        height: 100%;
        width: 25px;
        left: 0;
        top: 0;
    }

    .demo-content {
        margin-left: 25px;
    }
}

#theme-selection label[for="catppuccin-latte"] .card {
    background-color: var(--latte-base);

    h3,
    p {
        color: var(--latte-text);
    }

    .demo-navbar {
        background-color: var(--latte-surface-0);
    }
}

#theme-selection label[for="catppuccin-frappe"] .card {
    background-color: var(--frappe-base);

    h3,
    p {
        color: var(--frappe-text);
    }

    .demo-navbar {
        background-color: var(--frappe-surface-0);
    }
}

#theme-selection label[for="catppuccin-macchiato"] .card {
    background-color: var(--macchiato-base);

    h3,
    p {
        color: var(--macchiato-text);
    }

    .demo-navbar {
        background-color: var(--macchiato-surface-0);
    }
}

#theme-selection label[for="catppuccin-mocha"] .card {
    background-color: var(--mocha-base);

    h3,
    p {
        color: var(--mocha-text);
    }

    .demo-navbar {
        background-color: var(--mocha-surface-0);
    }
}

#accent-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: center;

    label {
        margin: 0;
    }
    label div {
        border-radius: 100px;
        width: 48px;
        height: 48px;
    }
}
